*{
    padding: 0;
    margin: 0;
    width: 100%;
}

header{
    /* display: flex; permet de déplacer les blocs 
    justify-content: space-evenly;  place le menu sur la droite */
    background-color: teal;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    padding: 0;
    position: sticky;
}

.menu li{
    list-style-type: none; /* permet d'elever les puces */
    position: relative; /* permet que les sous onglets soient de la même taille que les onglets du menu*/
    
}


.menu a{
    display: block; /* permet de mettre le menu sous forme de block alignés */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color:rgb(255, 255, 255);
    width: 90%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color:royalblue; /* couleur de fond des onglets */
    text-decoration: none; /* effacer le soulignement des onglets */
    text-align: center; /* centrer le texte */
}

.menu a:hover{
    background-color: silver;
    color: tomato;
    border-color: tomato;
}

.sous{
    display: none; /* cache les sous onglets */
    position: absolute; /* permet aux sous onglet de passer par dessus le texte ecrit derrière */
    z-index: 1000;
}

.menu li:hover .sous{
    display: block /* permet d'afficher les sous onglets lorsqu'on passe la souris sur les onglets */
}
